### SingleVariate Imputer

- Means to fill the missing values by fetching values from 1 features.

### MultiVariate Imputer

- It means to fill the missing values by fetching values from more than 1 features.


### Techniques of MultiVariate Imputer

- KNN Imputer
- Iterative Imputer


### KNN Imputer 

- Calculate the distance for all the features and multiply with weights.
- Then calculate the mean of the n closest neighbour.

### Advantages

- More accurate

### Disadvantages

- More no of calculation
- At production , we have to sent the entire training data at server, it slows down the computation power.


### Iterative Imputer / MICE

- 




### Advantages

- More accurate

### Disadvantages

- It is very slow.
- At production , we have to sent the entire training data at server, it slows down the computation power.

### KNN Imputation

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split 

import warnings
warnings.filterwarnings('ignore')

In [4]:
df= pd.read_csv("D:\\Sandesh\\100-days-of-machine-learning\\day39-knn-imputer\\train.csv")
df=df[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [5]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [6]:
X=df.drop(columns=['Survived'])
y=df[['Survived']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [23]:
from sklearn.impute import KNNImputer

knn=KNNImputer(n_neighbors=7,weights='distance')
X_train_trf=knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(X_train_trf,y_train)
y_predict=lr.predict(X_test_trf)
accuracy_score(y_test,y_predict)

0.6703910614525139

In [28]:

# Comparison with Simpele Imputer Class

si=SimpleImputer()
X_train_trf_2 = si.fit_transform(X_train)
X_test_trf_2 = si.transform(X_test)

lr=LogisticRegression()
lr.fit(X_train_trf_2,y_train)
y_predict=lr.predict(X_test_trf_2)
accuracy_score(y_test,y_predict)

0.6703910614525139

### Iterative Imputation

In [56]:
df = np.round(pd.read_csv("D:\\Sandesh\\100-days-of-machine-learning\\day40-iterative-imputer\\50_Startups.csv")[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
df.head(5)

   R&D Spend  Administration  Marketing Spend  Profit
0       17.0            14.0             47.0    19.0
1       16.0            15.0             44.0    19.0
2       15.0            10.0             41.0    19.0
3       14.0            12.0             38.0    18.0
4       14.0             9.0             37.0    17.0